body {
  margin: 5% 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0E0E0E;
  color: #8E8EFE;
  font-family: "Gill Sans", sans-serif;
  font-size: 20px;
}

.button {
  width: 50%;
  color: white;
  background-color: #2e2e2e;
  padding: 15px;
  border: 2px solid gray;
  border-radius: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.button:hover {
  border: 2px solid #8E8EFE;
}

.table-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: space-evenly;
}
